
<div class=" border container">
    <h1 class="bg-primary">This is different Action results</h1>
    <br />
    <div class="form-group row">
        <div class="col-2">
            <a asp-action="ContentR" class="btn btn-success text-white">ContentResult</a>
        </div>
        <div class="col-2 ">
            <a asp-action="ObjectR" class="btn btn-success text-white">ObjectResult</a>
        </div>
        <div class="col-2 ">
            <a asp-action="EmptyR" class="btn btn-success text-white">EmptyResult</a>
        </div>
        <div class="col-2 ">
            <a asp-action="ViewR" class="btn btn-success text-white">ViewResult</a>
        </div>
        <div class="col-2 ">
            <a asp-action="IActionR" class="btn btn-success text-white">IActionResult</a>
        </div>
        <div class="col-2 ">
            <a asp-action="PartialViewR" class="btn btn-success text-white">PartialViewResult</a>
        </div>
    </div>
</div>
