<h4>For  Overview of Razor</h4>
<div class="form-group row">
    <div class="col-2">
        <a asp-controller="RazorSyntax" asp-action="OverviewRazor" class="btn btn-success form-control">Overview Razor</a>
    </div>
</div>
<h4>Click below For Loops</h4>
<div class="form-group row">
    <div class="col-2">
        <a asp-controller="RazorSyntax" asp-action="Loops" class="btn btn-success form-control">Loops</a>
    </div>
</div>
<h4>Click below For Conditional</h4>
<div class="form-group row">
    <div class="col-2">
        <a asp-controller="RazorSyntax" asp-action="Conditional" class="btn btn-success form-control">Conditional</a>
    </div>
</div>

