@page
@model RazorClassLibraryProgram.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
            <h2>hello from Class library</h2>
   <button class="btn btn-danger">Submit</button>
</body>
</html>
