@using RazorSyntaxRefence.Models
@model Student


<h1>hello</h1>
<label asp-for="Name"></label>
<input asp-for="Name" />
<button type="submit" value="Submit" class="btn btn-danger">Submit</button>

<li class="nav-item">
    <a asp-page="/RazorClassLibraryProgram" asp-area="Dependencies" class="Page1Model">Register</a>
</li> 