@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ViewsDataTransfor.Models.BusinessPropertie;

@using (Html.BeginForm("BusinessOutputView", "InputData", FormMethod.Post))
{
    <table class="table table-responsive table-bordered">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>Business details</h1>
        <tr>
            <table class="table table-responsive table-bordered">
                <div class="form-group row">
                    <div class="col-4">
                        <h6>Account</h6>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-6">
                                <label asp-for="BusinessFullName" class="control-label"></label>
                            </div>
                            <div class="col-12">
                                <input asp-for="BusinessFullName" class="form-control" />
                                <span asp-validation-for="BusinessFullName" class="text-denger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label asp-for="BusinessEmail" class="control-label"></label>
                            </div>
                            <div class="col-12">
                                <input asp-for="BusinessEmail" class="form-control" />
                                <span asp-validation-for="BusinessEmail" class="text-denger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label asp-for="BusinessPhoneNumber" class="control-label"></label>
                            </div>
                            <div class="col-12">
                                <input asp-for="BusinessPhoneNumber" class="form-control" />
                                <span asp-validation-for="BusinessPhoneNumber" class="text-denger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </table>
        </tr>
        <tr>
            <table class="table table-responsive table-bordered">
                <div class="form-group row">
                    <div class="col-4">
                        <h6>Billing</h6>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessPlan" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <input asp-for="BusinessPlan" class="form-control" />
                                    <span asp-validation-for="BusinessPlan" class="text-denger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessBillingIntervel" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <select asp-for="BusinessBillingIntervel" class="form-control" asp-items="Html.GetEnumSelectList<Intervel>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
            </table>
        </tr>
        <tr>
            <table class="table table-responsive table-bordered">
                <div class="form-group row">
                    <div class="col-4">
                        <h6>Bussiness address</h6>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessCountry" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <select asp-for="BusinessCountry" class="form-control" asp-items="Html.GetEnumSelectList<Country>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessState" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <select asp-for="BusinessState" class="form-control" asp-items="Html.GetEnumSelectList<State>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessCity" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <select asp-for="BusinessCity" class="form-control" asp-items="Html.GetEnumSelectList<City>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessPostalCode" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <input asp-for="BusinessPostalCode" class="form-control" placeholder="PostalCode" />
                                    <span asp-validation-for="BusinessPostalCode" class="text-denger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-6">
                                <label asp-for="BusinessStreetAddress" class="control-label"></label>
                            </div>
                            <div class="col-12">
                                <input asp-for="BusinessStreetAddress" class="form-control" />
                                <span asp-validation-for="BusinessStreetAddress" class="text-denger"></span>
                            </div>

                        </div>
                    </div>
            </table>
        </tr>
        <tr>
            <table class="table table-responsive table-bordered">
                <div class="form-group row">
                    <div class="col-4">
                        <h6>Change Password</h6>
                    </div>

                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessOldPassword" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <input asp-for="BusinessOldPassword" class="form-control" />
                                    <span asp-validation-for="BusinessOldPassword" class="text-denger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label asp-for="BusinessNewPassword" class="control-label"></label>
                                </div>
                                <div class="col-12">
                                    <input asp-for="BusinessNewPassword" class="form-control" />
                                    <span asp-validation-for="BusinessNewPassword" class="text-denger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </table>
        </tr>
        <tr>
            <table class="table table-responsive table-bordered">
                <div class="form-group row">
                    <div class="col-9">

                    </div>
                    <div class="col-3">
                                <input type="submit" value="Submit" class="btn btn-success" />
                        @*<div class="form-group row">
                            <div class="col-3">
                            </div>
                        </div>*@
            </table>
        </tr>
    </table>
    @*<div class="form-group row">

            <div class="col-8">
                <div>



                    <div class="form-group row">

                    </div>



                </div>
            </div>
        </div>*@

    @*<div>
            <div class="text-denger" asp-validation-summary="ModelOnly"></div>
            <h1>Business details</h1>
            <div class="form-group row">
                <div class="col-6">
                    <h6>Name</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessFullName" class="form-control" />
                    <span asp-validation-for="BusinessFullName" class="text-denger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <h6>EMail</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessEmail" class="form-control" />
                    <span asp-validation-for="BusinessEmail" class="text-denger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <h6>Phone Number</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessPhoneNumber" class="form-control" />
                    <span asp-validation-for="BusinessPhoneNumber" class="text-denger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <h6>Plan</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessPlan" class="form-control" />
                    <span asp-validation-for="BusinessPlan" class="text-denger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <h6>Billing Intervel</h6>
                </div>
                <div class="col-6">
                    <select asp-for="BusinessBillingIntervel" class="form-control" asp-items="Html.GetEnumSelectList<Intervel>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <div class="col-12">
                        <h6>Country</h6>
                    </div>
                    <div class="col-12">
                        <select asp-for="BusinessCountry" class="form-control" asp-items="Html.GetEnumSelectList<Country>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <h6>State</h6>
                    </div>
                    <div class="col-12">
                        <select asp-for="BusinessState" class="form-control" asp-items="Html.GetEnumSelectList<State>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <div class="col-12">
                        <h6>City</h6>
                    </div>
                    <div class="col-12">
                        <select asp-for="BusinessCity" class="form-control" asp-items="Html.GetEnumSelectList<City>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <h6>PostalCode</h6>
                    </div>
                    <div class="col-12">
                        <input asp-for="BusinessPostalCode" class="form-control" placeholder="PostalCode" />
                        <span asp-validation-for="BusinessPostalCode" class="text-denger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-6">
                    <h6>Street Address</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessStreetAddress" class="form-control" />
                    <span asp-validation-for="BusinessStreetAddress" class="text-denger"></span>
                </div>

            </div>
            <div class="form-group row">

            </div>
            <div class="form-group row">
                <div class="col-6">
                    <h6>Old Password</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessOldPassword" class="form-control" />
                    <span asp-validation-for="BusinessOldPassword" class="text-denger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <h6>New Password</h6>
                </div>
                <div class="col-12">
                    <input asp-for="BusinessNewPassword" class="form-control" />
                    <span asp-validation-for="BusinessNewPassword" class="text-denger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9"></div>
                <div class="col-3">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>

        </div>*@


    @*<h1>clear</h1>
        <table class="table table-responsive table-bordered">
            <tr>
                <td>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>FullName</td>
                            <td>
                                <input asp-for="BusinessFullName" class="form-control" placeholder="FullName" />
                                <span asp-validation-for="BusinessFullName" class="text-denger"></span>
                                @Html.TextBox("PersonFullName", null, htmlAttributes: new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>EMail</td>
                            <td>
                                <input asp-for="BusinessEmail" class="form-control" placeholder="FullName" />
                                <span asp-validation-for="BusinessEmail" class="text-denger"></span>
                                @Html.TextBox("PersonFullName", null, htmlAttributes: new { @class = "form-control" })
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>*@
}

