@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@<!-- ViewsDataTransfor.Models.PersonPropertie-->
@*@model ViewsDataTransfor.Models.BusinessPropertie*@
@*@using ViewsDataTransfor.Controllers;
    @model ViewsDataTransfor.Model.InputDataOutput;*@
@model ViewsDataTransfor.ViewModel.InputDataOutput;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>       
    <div>
        <div class="form-group row">
            <div class="col-6">
                <div class="border container">
                    @{ Html.RenderPartial("PersonDetails", Model.PersonProperties);}
                </div>
            </div>
            <div class="col-6">
                <div class="border container">
                    @{ Html.RenderPartial("BusinessDetails", Model.BusinessProperties);}
                </div>
            </div>
        </div>
        
    </div>   
</body>
</html>





