@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ViewsDataTransfor.ViewModel.InputDataOutput
@{
    ViewBag.Title = "Business  Summary";
}

@if (Model != null) { 
<div>
<div>BusinessDetails</div>
<div>Name: @Model.BusinessProperties.BusinessFullName</div>
<div>Name: @Model.BusinessProperties.BusinessEmail</div>
</div>
<div>
    <div>Persondetails</div>
    <div>Name: @Model.PersonProperties.PersonFullName</div>
    <div>EMail: @Model.PersonProperties.PersonEmail</div>
</div>  }
            else
            {
<h2>Bussiness summary is not found</h2>
            }
